body {
	background-color: lightblue;
  }


.header{
	padding: 60px;
	font-size: 30px;
	text-align: center;
	background: #105F6F;
	color: white;
	
}

/*.container{

}*/

/*this is navi bar********************************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #334;
}

li {
  display: inline;
  float: left;
  border-right:0.5px solid darkgrey;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

li a:hover:not(.highlight) {
  background-color: grey;
}

.highlight {
  background-color: grey;
}






/*for main body which image on the left bs************************/

.main_body {
	padding:20px;
/*	display: flex;
*/
}


.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/*deal with photo.............................................*/

.gallary {
  /*justify-content: center;
  align-content: center;*/
  
  margin: 80px;
}

.gallary img {
  
  width: 100%;
  height: auto;
}























